@import "./variables.scss";

.contact {
  width: 95%;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
  max-height: 200vh;
  display: grid;
  grid-template-columns: 30% 60%;
  grid-template-rows: repeat(1fr);
  grid-column-gap: 10px;
  justify-content: center;
  .cards {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 30%);
    grid-row-gap: 20px;
    .card {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      border: 1px solid rgb(219, 219, 219);
      padding: 1rem;
      border-radius: 0.5rem;
      .icon-card {
        background-color: $third-color;
        color: $first-color;
        padding: 0.75rem;
        font-size: 22px;
        margin: 0.5rem 2rem;
        border-radius: 0.5rem;
      }
      .info-card {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        word-break: break-all;
        line-height: 1.7;
        h6 {
          text-transform: uppercase;
          font-weight: 600;
        }
      }
    }
  }

  .form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 1.9;
    * {
      margin-bottom: 1rem;
    }

    h4 {
      text-transform: uppercase;
      font-weight: 600;
      margin: 1rem 0;
      word-spacing: 12px;
    }

    input {
      border: 1px solid rgb(219, 219, 219);
      padding: 1rem;
      border-radius: 1.5rem;

      &:focus {
        border: 1px solid rgb(219, 219, 219);
        outline: 0;
      }

      &::placeholder {
        font-size: 18px;
        color: rgb(219, 219, 219);
      }
    }
    textarea {
      border: 1px solid rgb(219, 219, 219);
      padding: 1rem;
      border-radius: 1.5rem;
      &:focus {
        border: 1px solid rgb(219, 219, 219);
        outline: 0;
      }
      &::placeholder {
        font-size: 18px;
        color: rgb(219, 219, 219);
      }
    }
    button {
      align-self: flex-start;
      font-size: 22px;
      padding: 0.5rem 5rem;
      border-radius: 1rem;
      bottom: 0;
      outline: 0;
      background-color: $second-color;
      color: $first-color;
      text-transform: capitalize;
    }
  }
}

@media (max-width: 576px) {
  .contact {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-row-gap: 10px;
  }
}

@media (min-width: 576.5px) and (max-width: 767px) {
  .contact {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-row-gap: 10px;
  }
}

@media (min-width: 767.5px) and (max-width: 991px) {
  .contact {
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
  }
}
