*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-display: swap;
}

.container {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

::selection {
  background-color: rgb(255, 226, 226);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @font-face {
    font-family: "Righteous", cursive;
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.googleapis.com/css2?family=Righteous&display=swap")
      format("woff2");
    font-display: swap;
  }
}

p,
span,
button,
a {
  @font-face {
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
    font-display: swap;
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 576.5px) and (max-width: 767.5px) {
  .container {
    width: 95%;
  }
}

@media (min-width: 768px) and (max-width: 991.5px) {
  .container {
    width: 92%;
  }
}
